# Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
*.sln.iml

# User-specific
*.rsuser
*.userprefs

# Publish
[Pp]ublish/
*.pubxml
*.publishproj

# Misc
*.log
*.vspscc
*.vssscc
.DS_Store
Thumbs.db

# ASP.NET
appsettings.Development.json
